{{#each doctors as |doctor| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h4>
      {{{get_emoji}}}
      <a href="/api/doctors/{{doctor.doctors_id}}">{{doctor.first_name}} {{doctor.last_name}}</a>
    </h4>
  </div>
  <div class="col-md-7">
    <h5>
      {{doctor.speciality}}
    </h5>
  </div>
</div>
{{/each}}
