<div class="row">
  <div class="col-auto">
    <h3>{{first_name}} {{last_name}} </h2>
    </br>
    <h4>Your Details </h4>
    <h5>Email Address: {{email}} </h5>
  </div>
</div>

  {{!-- {{#if Appointments.length}}
  <div class="col-md-6 project-list">
    </br>
    </br>
    </div>
    <h3>Current List Of Appointments:</h3>

    {{#each Appointments as |appointment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h5><a href="/api/doctors/{{appointment.doctors_id}}">Your Doctor</a></h5>
      </div>
      <div class="col-md-8">
        <h5><a href="/api/patients/{{appointment.patients_id}}">Your Detail</a></h5>
      </div>
      <div class="col-md-8">
        <h5>Appointment Time : {{appointment.date_booked}}</h5>
      </div>
      <div class="col-md-8">
        <h5>Details : {{appointment.notes}}</h5>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}

{{#if Appointments.length}}
  <div class="col-md-6 project-list">
    </br>
    </br>
    </div>
    <h3>Your Appointments:</h3>
    </br>
    </br>
{{#each Appointments as |appointment|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h4>
        {{{get_emoji}}}
        <a href="/api/doctors/{{appointment.doctors_id}}">{{appointment.Doctor.first_name}} {{appointment.Doctor.last_name}} <span style="color:#538b01;">({{appointment.Doctor.speciality}})</span></a>
      </h4>
    </div>
    <div class="col-md-5">
      <h4>
        Appointment Time : {{format_date appointment.date_booked}} 
      </h4>
      <h4>Details : {{appointment.notes}}</h4>
    </div>
    <div class="col-md-2">
      <h4>
        <form action="/deleteAppointment/{{doctor.doctors_id}}">
          <input type="submit" value="Delete Appointment" class="btn btn-info" />
        </form>
        {{!-- <button type="submit" value="Submit" class="btn btn-info">Create Appointment</button> --}}
      </h4>
    </div>
  </div>
{{/each}}
{{/if}}

<script src="./js/profile.js"></script>
