<div class="row">
  <div class="col-auto">
    <h3>Welcome, {{first_name}} {{last_name}}!</h2>
    <h4>Your Email Address: {{email}} </h4>
  </div>
</div>

  {{#if Appointments.length}}
  <div class="col-md-6 project-list">
    </br>
    </br>
    </div>br>
    <h3>Current List Of Appointments:</h3>

    {{#each Appointments as |appointment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h5><a href="/api/doctors/{{appointment.doctors_id}}">Your Doctor</a></h5>
      </div>
      <div class="col-md-8">
        <h5><a href="/api/patients/{{appointment.patients_id}}">Your Detail</a></h5>
      </div>
      <div class="col-md-8">
        <h5>Appointment Time : {{appointment.date_booked}}</h5>
      </div>
      <div class="col-md-8">
        <h5>Details : {{appointment.notes}}</h5>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
